mpmath==1.0.0
nibabel==2.2.1
nipy==0.4.1
numpy==1.13.3
pandas==0.21.0
pkg-resources==0.0.0
PyQt5==5.9.2
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.1
sip==4.19.6
six==1.11.0
sympy==1.1.1
xlrd==1.1.0
fuse

